# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science.
- Identify commonly used libraries in Data Science.
- Explore development environment open-source tools used in Data Science.
- Understand how to convert units (e.g., minutes to hours) using Python.
- Create and format tables in Jupyter Notebook using Markdown.

##### Some of the popular languages that Data Scientists use are:

+ Python
+ R
+ SQL
+ Julia
+ Scala

##### Some of the commonly used libraries by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib
4. Scikit-learn
5. TensorFlow

##### Some of the commonly used development environment open-source tools in Data Science are:

| Data Science Tools | 
| -------------| 
|  Jupyter Notebook  | 
| RStudio        |
| Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
hours = 200 / 60
hours

3.3333333333333335

## Author
Natalia Daza